<section class="l-Section">
  <h2 class="l-Section-title h3">Achievements and Awards</h2>
  <div class="l-Section-content">
    <ul>
      <li>Mentor at <a class="u-link" target="_blank" href="https://summerofcode.withgoogle.com/">Google Summer of Code 2019</a>.</li>
      <li>Software Developer Intern at <a class="u-link" target="_blank" href="https://www.hackerrank.com">HackerRank, Bangalore</a>.</li>
      <li>Former Mentor at <a class="u-link" target="_blank" href="https://codein.withgoogle.com">Google Code-in 2018</a>.</li>
      <li>Former Student Developer at <a class="u-link" target="_blank" href="https://summerofcode.withgoogle.com/">Google Summer of Code 2018</a>.</li>
      <li>Software Developer at <a class="u-link" target="_blank" href="https://coala.io">coala.io</a>.</li>
      <li>Former Mentor at <a class="u-link" target="_blank" href="https://kwoc.kossiitkgp.org/">Kharagpur Winter of Code 2018</a>.</li>
      <li>Student Coordinator of <a class="u-link" target="_blank" href="http://placement.nitsikkim.ac.in/">Training and Placement Cell, NIT Sikkim</a>.</li>
      <li>Image Processing Team Lead of <a class="u-link" target="_blank" href="https://nitsikkim.ac.in/webdevelopmentcell">Web Development Cell, NIT Sikkim</a>.</li>
      <li>Active participation on online competitive coding websites - <a class="u-link" target="_blank" href="https://www.hackerrank.com/sangamcse">HackerRank</a>, <a class="u-link" target="_blank" href="https://www.hackerearth.com/@damonsangam">HackerEarth</a>, etc. Member Handle - sangamcse.</li>
      <li>Selected for <a class="u-link" target="_blank" href="https://www.hackerearth.com/university">HackerEarth Campus Ambassador</a> Program.</li>
      <li>Joint Team Member of Technical Talk at Abhiyantran 2017.</li>
      <li>Creativity Team Lead of Abhiyantran 2017 - Tech fest of NIT Sikkim.</li>
      <li>Creativity Team Lead of Udgam 2017 - Cultural fest of NIT Sikkim.</li>
    </ul>
  </div>
</section>