<nav class="Navbar">
  <div class="l-Wrapper l-Wrapper--reset@sm-down">
    <ul class="u-pullRight u-hidden@xs-down">
      <li>
        <a class="Navbar-btn Navbar-btn--main" href="{{ site.resume_pdf }}" target="_blank">Download
          <span>(pdf)</span>
        </a>
      </li>
    </ul>
    <ul>
      <li><a href="https://www.linkedin.com/in/{{ site.username.linkedin }}" target="_blank">Linkedin</a></li>
      <li><a href="https://twitter.com/{{ site.username.twitter }}" target="_blank">Twitter</a></li>
      <li><a href="https://github.com/{{ site.username.github }}" target="_blank">GitHub</a></li>
    </ul>
  </div>
</nav>
