<section class="l-Section">
  <h2 class="l-Section-title h3">Selected Projects</h2>
  <div class="l-Section-content">
    All projects available on git :
    <a class="u-link" target="_blank" href="https://www.github.com/sangamcse"
      >https://www.github.com/sangamcse</a
    >
    <ul>
      <li>
        <strong class="Tag"
          ><a
            class="u-link"
            target="_blank"
            href="https://github.com/sangamcse/online-examination-system"
            >Online Examination System</a
          ></strong
        >
        : Developed a MCQ-based online examination tool using PHP, MySQL, HTML,
        JavaScript and Bootstrap.
      </li>
      <li>
        <strong class="Tag"
          ><a
            class="u-link"
            target="_blank"
            href="https://github.com/sangamcse/registration-ESAD"
            >Registration System for workshop</a
          ></strong
        >
        : Developed a registration system along with a chat room system which
        has image upload and update system, using JSP, PHP, MySQL, HTML and
        Bootstrap.
      </li>
      <li>
        <strong class="Tag"
          ><a
            class="u-link"
            target="_blank"
            href="https://github.com/sangamcse/calculator"
            >Google Calculator for iOS</a
          ></strong
        >
        : Created a Google Calculator like basic Calculator for iOS app using
        Swift.
      </li>
      <li>
        <strong class="Tag"
          ><a
            class="u-link"
            target="_blank"
            href="https://github.com/sangamcse/myPNRStatus"
            >PNR Status Checker</a
          ></strong
        >
        : Created a CLI tool to check passenger name record in Indian Railway
        Journey, using Python3 and requests module.
      </li>
      <li>
        <strong class="Tag"
          ><a
            class="u-link"
            target="_blank"
            href="https://github.com/sangamcse/Snake_game"
            >Snake Game</a
          ></strong
        >
        : Created a script for snake game using Python2 and curses module.
      </li>
      <li>
        <strong class="Tag"
          ><a
            class="u-link"
            target="_blank"
            href="http://abhiyantran.nitsikkim.ac.in/abhiyantran-17"
            >Abhiyantran’17 Website</a
          ></strong
        >
        : A website for technical festival of NIT Sikkim.
      </li>
    </ul>
  </div>
</section>
