<section class="l-Section">
  <h2 class="l-Section-title h3">Skills</h2>
  <div class="l-Section-content">
    {% for skill in site.data.skills %}{{ skill.skill }}
    <ul class="skill">
      {% if skill.proficient %}
      <li>
        <strong>Proficient - </strong>
        {% for ele in skill.proficient %}
        <strong class="Tag">{{ ele }}</strong>
        {% endfor %}
      </li>
      {% endif %} {% if skill.familiar %}
      <li>
        <strong>Familiar - </strong>
        {% for ele in skill.familiar %}
        <strong class="Tag">{{ ele }}</strong>
        {% endfor %}
      </li>
      {% endif %}
    </ul>
    {% endfor %}
  </div>
</section>
<section class="l-Section">
  <h2 class="l-Section-title h3">Relevant Courses</h2>
  <div class="l-Section-content">
    Data Structures and Algorithms, Operating System, Computer Graphics,
    Computer Networks, Databases, Automata Theory, Distributed Computing,
    Software Engineering, Computer Organisation, Deep Learning, Natural Language
    Processing
  </div>
</section>
